apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  labels:
    app: inventory
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory
          image: ${IMAGE:-ghcr.io/${GHCR_OWNER}/${REPOSITORY}:latest}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: ConnectionStrings__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: inventory-secrets
                  key: DefaultConnection
            - name: Kafka__BootstrapServers
              valueFrom:
                secretKeyRef:
                  name: inventory-secrets
                  key: KafkaBootstrap
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 8
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 30
